.list-breeds-text {
  position: relative;
  left: 165px;
  font-size: 36px;
  font-weight: 700;
  font-family: "Montserrat";
  padding-top: 2rem;
}

.breed-images {
  width: 220px;
  height: 220px;
  border-radius: 24px;
  box-shadow: 10px 10px 2.5px #949494;
}

#breed-image-div {
  margin-bottom: 3rem;
  text-align: center;
}

#list-breeds {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

#breed-info-div {
  border-bottom: 1px solid black;
}

.fa-link {
  left: 2px;
}

@media screen and (max-width: 450px) and (min-width: 400px) {
  .list-breeds-text {
    position: relative;
    left: 4.5rem;
    font-size: 40px;
    font-weight: 700;
    font-family: "Montserrat";
    padding-top: 1rem;
  }

  #list-breeds {
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 0.5rem;
    margin-right: 1.5rem;
  }

  #breed-image-div {
    margin-bottom: 2rem;
    text-align: left;
  }

  #breed-info-div {
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
  }

  .breed-name {
    font-size: 30px;
    font-weight: 700;
    width: max-content;
    margin-bottom: 30px;
    box-shadow: 5px 5px 2px #949494;
  }
}

@media screen and (max-width: 395px) and (min-width: 300px) {
  .list-breeds-text {
    position: relative;
    left: 1rem;
    font-size: 35px;
    font-weight: 700;
    font-family: "Montserrat";
    padding-top: 1rem;
  }

  #list-breeds {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
  }

  #breed-image-div {
    margin-bottom: 2rem;
    text-align: left;
  }

  #breed-info-div {
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
  }

  .breed-name {
    font-size: 25px;
    font-weight: 700;
    width: max-content;
    margin-bottom: 30px;
    box-shadow: 5px 5px 2px #949494;
  }

  .breed-description {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .list-breeds-text {
    left: 65px;
  }

  .breed-name {
    font-size: 38px;
    font-weight: 700;
    width: max-content;
    margin-left: 2rem;
    padding-right: 5px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 2px #949494;
  }

  .breed-description {
    font-size: 20px;
    font-weight: 500;
    margin-left: 2rem;
    margin-bottom: 15px;
  }
}
