.info-div {
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  background-color: #e3e1dc;
  width: 1300px;
  margin-bottom: 3rem;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.searched-breeds {
  margin-top: 0 !important;
  float: left;
  margin-left: 5rem;
  padding-top: 2.5rem;
  font-size: 20px;
  font-family: "Montserrat";
  font-variant: small-caps;
  font-weight: 500;
}

.breed-count-info {
  margin-left: 5rem;
  margin-top: 0 !important;
  padding-top: 6rem;
  font-size: 40px;
  font-weight: 700;
  font-family: "Montserrat";
  width: 350px;
}

.loading {
  margin-left: 6rem;
  font-size: 26px;
  font-weight: 500;
  font-family: "Montserrat";
}

#breedDiv {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
}

.breed-image.col-md-4 {
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  height: 180px;
  width: 180px;
}

.breed-image:hover {
  transform: scale(1.1);
}

.see-more {
  cursor: pointer;
  float: right;
  position: relative;
  margin-right: 5rem;
  margin-top: 1rem;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(to right, orange, orange 50%, black 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  transition: background-position 700ms ease;
  background-position: 100%;
  text-decoration: none;
}

.see-more:hover {
  background-position: 0 100%;
  cursor: pointer;
}

@media screen and (max-width: 450px) and (min-width: 400px) {
  .info-div {
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    background-color: #e3e1dc;
    width: 400px;
    margin-bottom: 1rem;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  .searched-breeds {
    margin-top: 0 !important;
    margin-left: 5rem;
    padding-top: 2rem;
    font-size: 20px;
    text-align: center;
    font-family: "Montserrat";
    font-variant: small-caps;
    font-weight: 500;
  }

  .breed-count-info {
    margin-top: 0 !important;
    padding-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 35px;
    font-weight: 700;
    font-family: "Montserrat";
  }

  .see-more {
    margin-right: auto;
    margin-left: auto;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  #breedDiv {
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
  }

  .breed-image.col-md-4 {
    margin-left: 1rem;
    margin-right: 0.5rem;
    border-radius: 24px;
    height: 300px;
    width: 300px;
    margin-bottom: 1rem;
  }

  .breed-image:hover {
    transform: scale(1.05);
  }
}

@media screen and (max-width: 395px) and (min-width: 300px) {
  .info-div {
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    background-color: #e3e1dc;
    width: 300px;
    margin-bottom: 1rem;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }

  .searched-breeds {
    margin-top: 0 !important;
    margin-left: 3.5rem;
    padding-top: 2rem;
    font-size: 20px;
    font-family: "Montserrat";
    font-variant: small-caps;
    font-weight: 500;
  }

  .breed-count-info {
    margin-top: 0 !important;
    padding-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 0.5rem;
    font-size: 26px;
    width: 280px;
    font-weight: 700;
    font-family: "Montserrat";
  }

  .see-more {
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #breedDiv {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }

  .breed-image.col-md-4 {
    margin-left: 1.25rem;
    margin-right: 0.5rem;
    border-radius: 24px;
    height: 250px;
    width: 250px;
    margin-bottom: 1rem;
  }

  .breed-image:hover {
    transform: scale(1.05);
  }
}
