.footer-div {
  width: 1200px;
  height: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.copyright-text {
  color: white;
  font-size: 20px;
  font-weight: 400;
  font-family: "Montserrat";
  padding-top: 19px;
}

.fa-heart {
  color: red;
}

@media screen and (max-width: 450px) and (min-width: 400px) {
  .footer-div {
    width: 90%;
    height: 80px;
  }

  .copyright-text {
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-family: "Montserrat";
    padding-top: 19px;
  }
}

@media screen and (max-width: 395px) and (min-width: 300px) {
  .footer-div {
    width: 90%;
    height: 70px;
  }

  .copyright-text {
    color: white;
    font-size: 15px;
    font-weight: 400;
    font-family: "Montserrat";
    padding-top: 15px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .footer-div {
    width: 90%;
    height: 90px;
  }

  .copyright-text {
    color: white;
    font-size: 19px;
    font-weight: 400;
    font-family: "Montserrat";
    padding-top: 16px;
  }
}
