#reasonDiv {
  margin-top: 2rem;
  height: 450px;
}

.reasons-question {
  color: #daa520;
  font-size: 40px;
  font-weight: 800;
  font-family: "Montserrat";
  margin-left: 20rem;
  width: 380px;
}

.reasons-answer {
  margin-left: 20rem;
  margin-top: 2rem;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat";
  width: 420px;
}

.firstCat {
  width: 170px;
  height: 250px;
  position: relative;
  right: 420px;
}

.secondCat {
  width: 220px;
  height: 120px;
  position: relative;
  top: -140px;
  right: 20px;
}

.thirdCat {
  width: 220px;
  height: 350px;
  position: relative;
  top: -140px;
  right: 10px;
}

.firstDog {
  width: 270px;
  height: 200px;
  position: relative;
  right: 225px;
  top: -140px;
  border-radius: 24px;
}

.secondDog {
  width: 250px;
  height: 140px;
  position: relative;
  top: 80px;
  left: 45px;
  border-radius: 24px;
}

.thirdDog {
  width: 300px;
  height: 360px;
  position: relative;
  top: -344px;
  left: 1050px;
  border-radius: 24px;
}
